body {
    background-color: #eef2f5;
}

.icon {
    width: 15px;
}

.dataTables_length, .dataTables_filter, .dataTables_info {
    display: none;
}

#table-toolbar {
    padding-left: 15px;
    padding-bottom: 15px;
}

#vouchers-table th:first-child, #vouchers-table td:first-child, #vouchers-table td:nth-child(3) {
    text-align: center;
}

/* Necessary for showing autocomplete inside BS modal */
.ui-autocomplete {
    z-index: 2147483647;
}
